ninja  # For faster builds.
psutil
ray @ https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-3.0.0.dev0-cp311-cp311-manylinux2014_x86_64.whl  # Ray versions before 2.9 conflict with pydantic >= 2.0
pandas  # Required for Ray data.
pyarrow  # Required for Ray data.
sentencepiece  # Required for LLaMA tokenizer.
numpy
torch >= 2.1.1
transformers >= 4.36.0  # Required for Mixtral.
xformers >= 0.0.23  # Required for CUDA 12.1.
fastapi
uvicorn[standard]
pydantic >= 2.5.2 # required by ollm
aioprometheus[starlette]
